#addbox{
	
	background-color: #effafa;
	
}
#addbox p{
	font-size: 15px;
}
#addbox input{
	width: 100%;
}
#addbox input[type="text"],input[type="number"]{
	border:none;
    border-bottom: 1px solid #1c8adb;
	background: transparent;
	outline: none;
	font-size:15px;
}
#addbox input[type="submit"]{
	border:none;
	outline:none;
	height: 40px;
	margin-top: 30px;
	background:#1c8adb;
	color: whitesmoke;
    font-size: 20px;
    width: 50%;
}
#addbox input[type="submit"]:hover
{
	cursor:pointer;
	background:#33CCFF;
	color:#000;
}
#add{
    width: 120px;
    color: whitesmoke;
    padding: 10px;
	height: 30px;
	border: none;
	border-radius: 10px;
	background-color: #1c8adb;
    align-items: center;
    display: flex
    
}