#head {
    width: 100%;
    height: 70px;
    background-color: darkblue;
}

#logo {
    color: white;
    padding: 30px;
    margin-left: 50px;
}


#logout {
    text-decoration: none;
    color: white;
    float: right;
    margin-top: -100px;
    margin-right: 40px;
}