#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-left: 5%;
    margin-top: 3%;
    border: transparent;
    width: 80%;
    /* border-collapse: collapse; */
    flex-wrap: wrap;
  }
  #customers td
    {
      padding: 8px;
      text-align: center;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding: 12px;
      text-align: center;
      background-color:black;
      color: white;
    }
    #addpro{
      width: 150px;
      height: 30px;
      border: none;
      border-radius: 25px;
      background-color: transparent;
      border: 1px solid grey;
      font-size: 18px;
      margin-left: 20px;
      }

    .editpro{
        width: 60px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: #1c8adb;
        color: white;
    }
    .deletepro{
        /* margin-left: 40px; */
        width: 60px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color:#1c8adb;
        color: white;
    }

    #search{
      
      display: inline-flex;
      flex-flow: wrap;
      width: 200px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid grey;
      text-align: center;
      font-size: 18px;
      margin-top: 20px;
      margin-left: 10%;
    }